body {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:1fr 1fr;
    min-height: 100vh;
}

#navbar {
    
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;
    background-color: red;
    display:flex;
    justify-content:center;
}

#col1{
    
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
       background-color: blue;
}


#footer {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
       background-color: black;
}